*.redxml
*.txt
*.html
*.pdf
*~
*.swp
/*-[0-9][0-9].xml
.refcache
.targets.mk
venv/
issues.json
pulls.json
lib
draft-luisbarguno-geolocation-header.xml
lib
draft-luisbarguno-geolocation-header.xml
lib
draft-luisbarguno-geolocation-header.xml
